.idea
.DS_Store
.settings
.buildpath
.project

source/.htaccess
source/application/config/config.php
source/application/config/constants.php
source/application/config/database.php
source/application/config/memcached.php

.htaccess
application/config/config.php
application/config/email.php
application/config/constants.php
application/config/database.php
application/config/memcached.php
application/cache/*
